# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=2b50543fc774d15e2c29ce1a5a96e35c2e15cf60fb7db3dec489b8277e5afe04f440e33271bc0e630104ba2f0fb05d520b87ec5a541c0245af0c5c11e9487d1f
REDIS_URL=redis://localhost:6379/9
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
